h1{
    color: #1c64ff;
    text-align: center;
    text-shadow: 0em;
    font-style: italic;
}
h2{
    text-decoration: underline;
    color: #1c64ff;
}
p {
    text-align: justify;
    font-size: 16px;
    line-height: 23px;
}
body{
    background-color: white;
}

mark {
    background-color: chartreuse;
}

em {
    color: gray;
}

strong {
    text-decoration: underline #1c64ff;
}

a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a {
    color: #ff0000;
  }
  
  a:active {
    color: #000000;
    color: white;
  }
  
  input {
    background-color: #ff0000;
  }

  input:focus {
    background-color: #000000;
    color: white;
  }

  textarea {
      background-color: red;
  }

  textarea:hover{
    background-color: black;
    color: white;
}

  form:hover {
      font-size: 20px;
      transition-delay: 0ms;
  }

  .cabecalho {
    background-color: lightgray;
    width: 960px;
    border: 5px dotted black;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
  }

  section {
    background-color: lightpink;
    width: 960px;
    border: 5px dotted black;
    margin-left: 20px;
    margin-right: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
  }
  
  article {
    width: auto;
    background-color: lightyellow;
    border: 5px dotted black;
    margin-left: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
  }

  .article2 {
    width: 930px;
    background-color: lightyellow;
    border: 5px dotted black;
    margin-left: 20px;
    margin: 20px auto;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .article3 {
    width: 930px;
    background-color: lightyellow;
    border: 5px dotted black;
    margin-left: 20px;
    margin: 20px auto;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }

  footer {
    background-color: rgb(231, 185, 99);
    width: 960px;
    border: 5px dotted black;
    margin-left: 20px;
    margin-right: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
  }
