body {
    background-color: #ff8c00;
            font-family: sans-serif;
            font-style: oblique;
            text-align: justify;
            text-decoration: underline;
            line-height: 1.6;

}
